# Ignore Python cache and virtual environment directories
__pycache__/
*.py[cod]
env/
my_env/
*.egg-info/

# Ignore dependencies or third-party libraries
lib/

# Ignore temporary files
*.log
*.txt

# Ignore OS-specific files
.DS_Store
